<article>
  <h1 class="trips-header">Hiking in South Africa</h1>

  <div class="trip-header-img">
    <img src="http://localhost:3000/assets/trips/hiking_south_africa.jpg" />
  </div>

  <div class="mdl-grid">
    <div class="description mdl-cell mdl-cell--7-col">

      <p>
        Lorem ipsum dolor sit amet, sea id velit accusata. Qui in option erroribus, mea everti iriure deleniti an. Ex his sale lucilius. Mei ut nonumy alienum voluptua, accusamus dissentias ut duo. Quo ne consetetur honestatis. Petentium adolescens sit ei, vidit debet scripta mei te. Ius minim audire instructior ex, ut audire aperiam cum.
      </p>

      <h3 class="trip-subheader">Price: $9,000</h3>
    </div>

    <div class="extras mdl-cell mdl-cell--5-col">

      <h3 class="trip-subheader">Extras</h3>

      <table>

        <tbody>
          <tr>
            <td>Monkey Banana-Eating Contest</td>
            <td>$1,000</td>
          </tr>
          <tr>
            <td>Shark Slalom Surfing</td>
            <td>$1,500</td>
          </tr>
          <tr>
            <td>Barometer-Free Sky Diving</td>
            <td>$2,000</td>
          </tr>
          <tr>
            <td>Rhino Jousting</td>
            <td>$7,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          <tr>
            <td>Giraffe Racing</td>
            <td>$9,000</td>
          </tr>
          
        </tbody>



  </table>

     </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col">

    </div>
    <div class="mdl-cell mdl-cell--5-col">
      <%= link_to "Book Trip", '#', class: "call-to-action" %>
    </div>
  </div>
</article>
