<div class="cart">
  <div class="cart-picture">
    <img>
  </div>
  <div class="demo-grid-2 mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-table" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
          <th>Quantity</th>
          <th class="mdl-data-table__cell--non-numeric">Location</th>
          <th>Activity</th>
          <th class="mdl-data-table__cell--non-numeric">Extras</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td class="mdl-data-table__cell--non-numeric">Africa</td>
          <td class="mdl-data-table__cell--non-numeric">Rhino Jousting</td>
          <td class="mdl-data-table__cell--non-numeric">None</td>
          <td>$65,890</td>
        </tr>
        <tr>
          <td>1</td>
          <td class="mdl-data-table__cell--non-numeric">South America</td>
          <td class="mdl-data-table__cell--non-numeric">Hiking</td>
          <td class="mdl-data-table__cell--non-numeric">Waterproof Boombox</td>
          <td>$14,750</td>
        </tr>
        <tr>
          <td>3</td>
          <td class="mdl-data-table__cell--non-numeric">Asia</td>
          <td class="mdl-data-table__cell--non-numeric">Jump the Great Wall</td>
          <td class="mdl-data-table__cell--non-numeric">Sherpa</td>
          <td>$25,500</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
    <table id="cart-total" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
      <tr>
        <th>Total Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>$250,890</td>
      </tr>
      <tr>
        <td id="checkout" class="mdl-data-table__cell--non-numeric">Check Out</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>