<div class="home_picture">

</div>
<div class="home_navigation">
  <div class="plan_trip">
    <span>Plan Trip By:</span>
  <button class="mdl-button mdl-js-button mdl-button--raised">
    <%= link_to "Destinations" %>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--raised">
    <%= link_to "Activities" %>
  </button>
  </div>
</div>
<div class="home_about_us">
    <%= link_to "Contact Us" %>
</div>
<div class="home_trip_reviews">
  <%= link_to "More Reviews" %>
</div>
