<div class="homepage">
<div class="home_picture">
</div>
<div class="demo-grid-2 mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="destination_col">
            <div><button id="destination_button" class="mdl-button mdl-js-button mdl-button--fab"></button>
      <!-- link to Destinations index page -->
            </div>
      <span class="button_text">The Destination</span>
    </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="activity_col">
        <div><button id="activity_button" class="mdl-button mdl-js-button mdl-button--raised"></button>
          <!-- link to Activities index page -->
        </div>
        <span class="button_text">The Activity</span>
      </div>
    </div>
</div>

<div class="us_and_reviews">
<div class="home_about_us">
  <div class="bubble">
    <h4>Who We Are</h4>
    <div class="bubble_text">
      <div class="demo-grid-4 mdl-grid">
        <div class="mdl-cell mdl-cell--3-col">
          <div id="alex" class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Alex Tideman</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Turing School of Software and Design
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View GitHub
              </a>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <div class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Max Millington</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Turing School of Software and Design
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View GitHub
              </a>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
          <div class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">David Shim</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Turing School of Software and Design
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View GitHub
              </a>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
          <div class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Adam Caron</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Turing School of Software and Design
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View GitHub
              </a>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
<div class="home_trip_reviews">
  <div class="bubble">
    <h4>Trip Reviews</h4>
    <div class="bubble_text">
      <div class="demo-grid-2 mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-card mdl-shadow--2dp demo-card-square-reviews">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Hulk Hogan</h2>
              <p>Text about Hulk's trip</p>
            </div>
            <div class="mdl-card__supporting-text">
              Professional Wrestler, Reality Star
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                More Reviews
              </a>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-card mdl-shadow--2dp demo-card-square-reviews">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Bruce Willis</h2>
              <p>Text about Bruce's trip</p>
            </div>
            <div class="mdl-card__supporting-text">
              Hollywood Actor
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                More Reviews
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>