

<article>
  <h1 id="destination-header">Plan Trip by Continent</h1>


  <div class="demo-grid-1 mdl-grid">

    <% @destinations.sort_by(&:continent).each do |destination| %>

        <div class="mdl-cell mdl-cell--4-col"><div id="whole-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
          <div class="mdl-card__title">
            <h3 class="mdl-card__title-text"><%= destination.continent %></h3>
          </div>
          <div class="<%= destination.continent.split.join("-").downcase %>-picture">
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to "Browse Activities", destination_path(destination.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
          </div>
        </div></div>

    <% end %>
  </div>
</article>
