article {
  padding-top: 64px;
  margin: 0px 100px 0px 100px;
}

#title{
  text-align: center;
  color: white;
  font-family: YellowTail, cursive;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#hiking-card{
        height: 176px;
        background: image-url('hiker.jpg') center / cover;
        color: white;
        text-shadow:
        0.1em  .1em .1em black,
        .05em -.05em .05em black,
        -.01em  .01em .01em black,
        -.01em -.01em .01em black;
      }



#rafting-card{
      height: 176px;
      background: image-url('raft.jpg') center / cover;
      color: white;
      text-shadow:
      0.1em  .1em .1em black,
      .05em -.05em .05em black,
      -.01em  .01em .01em black,
      -.01em -.01em .01em black;
    }

#scuba-diving-card{
          height: 176px;
          background: image-url('scuba.jpg') center / cover;
          color: white;
          text-shadow:
          0.1em  .1em .1em black,
          .05em -.05em .05em black,
          -.01em  .01em .01em black,
          -.01em -.01em .01em black;
        }

#hunting-card{
    height: 176px;
    background: image-url('hunting.jpg') center / cover;
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}

#base-jumping-card{
    height: 176px;
    background: image-url('basebase.jpg') center / cover;
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}


#climbing-card{
    height: 176px;
    background: image-url('climbing.jpg') center / cover;
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}




  .demo-card-wide > .mdl-card_.mdl-card__title-text {
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
  }
