#hiking-card{
        height: 176px;
        background: image-url('hiker.jpg') center / cover;
        color: white;
        text-shadow:
        0.1em  .1em .1em black,
        .05em -.05em .05em black,
        -.01em  .01em .01em black,
        -.01em -.01em .01em black;
      }

#rafting-card{
      height: 176px;
      background: image-url('raft.jpg') center / cover;
      color: white;
      text-shadow:
      0.1em  .1em .1em black,
      .05em -.05em .05em black,
      -.01em  .01em .01em black,
      -.01em -.01em .01em black;
    }

#scuba-diving-card{
          height: 176px;
          background: image-url('scuba.jpg') center / cover;
          color: white;
          text-shadow:
          0.1em  .1em .1em black,
          .05em -.05em .05em black,
          -.01em  .01em .01em black,
          -.01em -.01em .01em black;
        }

#hunting-card{
    height: 176px;
    background: image-url('hunting.jpg') center / cover;
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}

#base-jumping-card{
    height: 176px;
    background: image-url('basebase.jpg') center / cover;
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}

#climbing-card{
    height: 176px;
    background: image-url('climbing.jpg') center / cover;
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}

  .demo-card-wide > .mdl-card_.mdl-card__title-text {
    color: white;
    text-shadow:
    0.1em  .1em .1em black,
    .05em -.05em .05em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
  }

 #whole-card {
  //  border: solid 1px #363636;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 0px 20px 30px ;
   -moz-box-shadow:    0px 0px 40px 15px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.4);
   box-shadow:         0px 0px 40px 15px rgba(0, 0, 0, 0.4);
 }
