/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material
 */
 @font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?vlkd6h');
	src:font-url('icomoon.eot?#iefixvlkd6h') format('embedded-opentype'),
		font-url('icomoon.ttf?vlkd6h') format('truetype'),
		font-url('icomoon.woff?vlkd6h') format('woff'),
		font-url('icomoon.svg?vlkd6h#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
	content: "\e603";
}
.icon-parachute:before {
	content: "\e602";
}
.icon-flight:before {
	content: "\e1d1";
}
.icon-shopping-cart:before {
	content: "\e604";
}
.icon-paw:before {
	content: "\f1b0";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-bicycle:before {
	content: "\f206";
}
.icon-globe:before {
	content: "\f0b6";
}
.icon-earth:before {
	content: "\e600";
}
.icon-tree2:before {
	content: "\e601";
}



article {
  margin: 0 100px 0 100px;
}

a, a:visited, a:link {
    color: white;
}

.flash {
  text-align: center;
  font-size: 1.3em;
  -moz-box-shadow:    inset 0 0 10px #000000;
 	-webkit-box-shadow: inset 0 0 10px #000000;
 	box-shadow:         inset 0 0 10px #000000;
}

.flash_remove {
  color: green;
  text-align: center;
  text-shadow: white 1px 1px 1px 1px;
}

#container {
    font-family: 'Open Sans', sans-serif;
}

#footer {
    background:#000;
}
