.cart {
    background: white;
}

.cart-picture {
    background: transparent image-url("checkout.jpg") center;
}

.cart-picture {
    height: 375px;
}

#cart-table {
    margin-left:150px;
}

#cart-table th {
    text-align: left;
}


#cart-total  {
    margin-left: 250px;
}

#checkout {
    background: green;
}

#delete-link {
  font-family: "Open Sans";
  a:link {color: #000000; text-decoration: underline; }
  a:active {color: #0000ff; text-decoration: underline; }
  a:visited {color: #9d2d18; text-decoration: underline; }
}

#trip-link {
  a:link {color: #000000; text-decoration: none; }
  a:active {color: #0000ff; text-decoration: none; }
  a:visited {color: #008000; text-decoration: underline; }
}

