.cart {
    background: white;
}

.cart-picture {
    background: transparent image-url("checkout.jpg") center;
}

.cart-picture {
    height: 375px;
}

#cart-table {
    margin-left:150px;
}

#cart-table th {
    text-align: left;
}


#cart-total  {
    margin-left: 250px;
}

#checkout {
    background: green;
}
