body {
    background: transparent image-url("texture.png");
}

.mdl-layout-title {
    padding-left: 30%;
}

.africa-picture {
    background: transparent image-url("africa.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover
}

.asia-picture {
    background: transparent image-url("asia.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover;
}

.oceania-picture {
    background: transparent image-url("oceania.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover;
}

.north-america-picture {
    background: transparent image-url("north-america.jpg") no-repeat center;
    background-size: cover;
    width: auto;
    height: 220px;
}

.south-america-picture {
    background: transparent image-url("south-america.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover
}

.europe-picture {
    background: transparent image-url("europe.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover
}

.whole-card{
  border: solid 1px #363636;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(239, 239, 239, 0.87);
}

