body {
    background: transparent url("texture.png");
}

.mdl-layout-title {
    padding-left: 30%;
}

#destination-header {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: rgba(14, 9, 8, 0.75);
}

.africa-picture {
    background: transparent url("Simian.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover
}

.asia-picture {
    background: transparent url("Pakistan.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover;
}

.new-zealand-picture {
    background: transparent url("NewMilford.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover;
}

.north-america-picture {
    background: transparent url("glacier.jpg") no-repeat center;
    background-size: cover;
    width: auto;
    height: 220px;
}

.south-america-picture {
    background: transparent url("Chile.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover
}

.europe-picture {
    background: transparent url("dolomites.jpg") no-repeat center;
    height: 220px;
    width: auto;
    background-size: cover
}

