
.homepage h1,h4 {
    font-family: 'Yellowtail', cursive;
}

#nav-bar {
    position:absolute;
    background-color: rgba(0,0,0,.4);
    padding: 10px;
}

#nav-bar h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 48px;
    padding-left: 15%;
    font-weight: 200;
}

.nav-bar-nk {
    color: white;
    font-size: 20px;
}

#username {
    color: white;
    font-size: 20px;
}

#cart-count.mdl-badge[data-badge]::after {
    font-family: 'Sans-Serif';
    background: green;
    box-shadow: white 1px 1px 1px;
    top: 10px;
    right: 7px;
}

#logo {
    text-decoration: none;
    margin-left: -70px ;
}

.home-picture {
    height: 550px;
    background: transparent image-url("homepage.png") no-repeat center -50px;
    background-size: cover;
  box-shadow: 0px 30px 40px rgba(0,0,0,.5);

}

.plan-trip button {
    padding: 50px;
}


#homepage-icons a {
  text-decoration: none;
}

.icons {
  margin-left:100px;
}

.destination-text {
  font-size: 2.5em;
  margin-left:70px;
  margin-top:-100px;
  color: white;
  text-shadow:
  0.05em  .05em .05em black,
  .01em -.01em .01em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}
.activity-text {
  font-size: 2.5em;
  margin-top:-70px;
  margin-left:90px;
  color: white;
  text-shadow:
  0.05em  .05em .05em black,
  .01em -.01em .01em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}
.trip-text {
  font-size: 2.5em;
  margin-top:-140px;
  margin-left:130px;
  color: white;
  text-shadow:
  0.05em  .05em .05em black,
  .01em -.01em .01em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

.icon-globe{
  color: whitesmoke;
  font-size: 12em;
  // margin-right: 28%;
  // margin-left: 10%;
  text-shadow:
    0.05em  .05em .05em black,
    .01em -.01em .01em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}


.icon-airplane{
  color: whitesmoke;
  font-size: 14em;
  text-shadow:
    0.05em  .05em .05em black,
    .01em -.01em .01em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;
}


.icon-parachute{
  color: whitesmoke;
  font-size: 10.3em;
  text-shadow:
    0.05em  .05em .05em black,
    .01em -.01em .01em black,
    -.01em  .01em .01em black,
    -.01em -.01em .01em black;


}

a:hover .icon-globe{
  color: #166CEC;
}

a:hover #globe-text{// display: inline;

}

a:hover #para-text{
  // display: inline;

}

a:hover .icon-airplane{
  color: #019D5A;
}



a:hover .icon-parachute{
  color: #D94530;
}

.icons li{
  display: inline;
list-style-type: none;
margin-right: 18.5%;
margin-left: 5%;
// margin-top: 20%;
}

.button-text {
    font-size: 36px;
}

.plan-trip-question {
    font-size: 24px;
    font-weight: 700;
}


.home-mission {
    text-align: center;
    height: 400px;
    margin-top: 8%;
}

.home-mission p {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    padding: 75px;
    color: white;
    text-shadow: black 2px 2px 2px;
}

.home-about-us {
    text-align: center;
    height: 400px;

}

.home-trip-reviews {
    text-align: center;
    height: 400px;
}

.bubble h4 {
    margin: 0px;
    padding: 1%;
    font-family: 'Yellowtail', cursive;
    font-size: 36px;
    font-weight: 300;
    background-color: rgba(255,255,255,.3);
    text-shadow: #c8a95b 3px 1px 1px;
}

.demo-card-square.mdl-card {
    width: 280px;
    height: 280px;
}

#alex.demo-card-square > .mdl-card__title {
    color: #fff;
    background: image-url('alex-headshot.jpg') bottom right 15% no-repeat #000000;
    background-size: 200px 200px;
}

#max.demo-card-square > .mdl-card__title {
    color: #fff;
    background: image-url('max-headshot.jpg') top right 15% no-repeat #000000;
    background-size: 200px 200px;
}

#david.demo-card-square > .mdl-card__title {
    color: #fff;
    background: image-url('david-headshot.jpg') bottom right 15% no-repeat #000000;
    background-size: 200px 200px;
}

#adam.demo-card-square > .mdl-card__title {
    color: #fff;
    background: image-url('adam-headshot.jpg') bottom right 15% no-repeat #000000;
    background-size: 200px 200px;
}

.demo-card-square-reviews.mdl-card {
    width: 500px;
    height: 280px;
}

.demo-card-square-reviews h2 {
    margin-bottom: 100px;
}
