
.homepage h1,h4 {
    font-family: 'Yellowtail', cursive;
}

#nav-bar {
    position:absolute;
    background-color: rgba(0,0,0,.4);
    padding: 10px;
}

#nav-bar h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 48px;
    padding-left: 15%;
    font-weight: 200;
}

.nav-bar-link {
    color: white;
    font-size: 20px;
}

#username {
    color: white;
    font-size: 20px;
}

#cart-count.mdl-badge[data-badge]::after {
    font-family: 'Sans-Serif';
    background: green;
    box-shadow: white 1px 1px 1px;
    top: 10px;
    right: 7px;
}

#logo {
    text-decoration: none;
    margin-left: -40px ;
}

.home-picture {
    height: 550px;
    background: transparent url("homepage.png") no-repeat center -50px;
    background-size: cover;
}

.plan-trip button {
    padding: 50px;
}

.destination-col {
    padding: 15%;
    margin-left: 20%;
}

.activity-col {
    padding: 15%;
    margin-left: 20%;
}

#destination-button {
    background: transparent url("globe_button.jpg") center;
    background-size: contain;

}

#activity-button {
    background: transparent url("paddles.jpg") center;
    background-size: contain;
    padding: 20px;
}

.button-text {
    font-size: 36px;
}

.plan-trip-question {
    font-size: 24px;
    font-weight: 700;
}

.us-and-reviews {
    background: transparent url('texture.png') center;
}

.home-mission {
    text-align: center;
    height: 400px;
}

.home-mission p {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    padding: 75px;
    color: white;
    text-shadow: black 2px 2px 2px;
}

.home-about-us {
    text-align: center;
    height: 400px;

}

.home-trip-reviews {
    text-align: center;
    height: 400px;
}

.bubble h4 {
    margin: 0px;
    padding: 1%;
    font-family: 'Yellowtail', cursive;
    font-size: 36px;
    font-weight: 300;
    background-color: rgba(255,255,255,.3);
    text-shadow: #c8a95b 3px 1px 1px;
}

.demo-card-square.mdl-card {
    width: 280px;
    height: 280px;
}

#alex.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('alex-headshot.jpg') bottom right 15% no-repeat #000000;
    background-size: 200px 200px;
}

#max.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('max-headshot.jpg') top right 15% no-repeat #000000;
    background-size: 200px 200px;
}

#david.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('david-headshot.jpg') bottom right 15% no-repeat #000000;
    background-size: 200px 200px;
}

#adam.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('adam-headshot.jpg') bottom right 15% no-repeat #000000;
    background-size: 200px 200px;
}

.demo-card-square-reviews.mdl-card {
    width: 500px;
    height: 280px;
}

.demo-card-square-reviews h2 {
    margin-bottom: 100px;
}
