
#order-table {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #363636;
  border-radius: 5px 5px 5px 5px;
}

#order-table a, a:visited, a:link {
  color: black;
}

#order-table td {
  font-size: 12px;
}

#trip-col {
  width: 150px;
}