.order-table{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#admin-order-table {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#admin-order-table a, a:visited, a:link {
  color: black;
}
