
body {
}

#nav_bar {
  position:absolute;
  color: yellow;
  background-color: rgba(255,255,255,0);
  font-size: 30px;
}

#nav_bar span {
  padding-left: 25%;
  font-size: 32px;
  font-weight: 300;
}

#nav_bar a {
  color: yellow;
  font-size: 18px;
}

.home_picture {
  height: 720px;
  background: transparent url("homepage.png") no-repeat center -50px;
  background-size: cover;
}

.home_navigation {
  text-align: center;
  height: 150px;
  background: #def1e1;
}

.plan_trip button {
  padding: 50px;
}

#destination_button {
  background: transparent url("globe_button.jpg") center;
  background-size: contain;
}

#activity_button {
  background: transparent url("paddles.jpg") center;
  background-size: contain;
}

.plan_trip_question {
  font-size: 24px;
  font-weight: 700;
}
.home_about_us {
  text-align: center;
  height: 150px;
  background: #b8e0b4;
}

.home_trip_reviews {
  text-align: center;
  height: 150px;
  background: green;
}