
body {
  background: transparent url("texture.png");
}

#nav_bar {
  color: black;
  background-color: white;
}

#nav_bar a {
  color: black;
}

.home_picture {
  height: 750px;
  background: transparent url("homepage.png") no-repeat center -50px;
  background-size: cover;
  //margin-left: 25px;
  //margin-right: 25px;

}

.mdl-layout-title {
  padding-left: 30%;
}

.home_navigation {
  text-align: center;
  height: 100px;
}

.plan_trip button {
  margin-left: 50px;
  margin-top: 30px;
  padding: 10px;
}

.home_about_us {
  background: yellow;
}

.home_trip_reviews {
  background: green;
}

#destination-header {
  text-align: center;
}

.africa-picture {
  background: transparent url("Simian.jpg") no-repeat center;
  background-size: cover
}

.asia-picture {
  background: transparent url("Pakistan.jpg") no-repeat center;
  background-size: cover
}

.new-zealand-picture {
  background: transparent url("NewMilford.jpg") no-repeat center;
  width: auto;
  height: auto
}

.north-america-picture {
  background: transparent url("glacier.jpg") no-repeat center;
  background-size: cover
}

.south-america-picture {
  background: transparent url("Chile.jpg") no-repeat center;
  background-size: cover
}

.europe-picture {
  background: transparent url("dolomites.jpg") no-repeat center;
  background-size: cover
}