.trips-header {
  font-family: 'Open Sans';
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px 5px 5px 5px;
  border: solid 3px #363636;
  margin: 25px 400px 10px 15px;
  padding-left: 10px;
}

.trip-subheader {
  margin-top: 0;
}

.trip-header-img {
  height: 600px;
  overflow: hidden;
  position: relative;
}

#trip-description {
  font-family: "Open Sans";
  font-size: 20px;

}

.canadian-rockies-trip-img {
  height: 550px;
  overflow: hidden;
  border: solid 4px #CCCCCC;
  position: relative;
  background: image-url('canadian-rockies.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.great-barrier-reef-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('barrier.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.african-safari-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('safari.jpg'), no-repeat;
  background-position: 0 -25px;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.swiss-base-jumpers-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('base.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.climbing-in-pakistan-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('climbo.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.patagonia-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('argentina.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.the-colorado-rapids-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('river.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.base-jumping-the-fjords-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('basez.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
}

.huts-in-the-dolomites-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('dolomites.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.yosemite-granite-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('yosemite.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.climbing-the-high-atlas-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('atlas.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.hunting-in-montana-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('montana.jpg');
  background-position: 0 -275px;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.the-navua-river-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('navua.jpg');
  background-position: 0 -200px;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.outback-big-game-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('buffalo.jpg'), no-repeat;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.riviera-diving-trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  background: image-url('positano.jpg');
  background-position: 0 -220px;
  background-size: cover;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.trip-header-img img {
  width: 100%;
  top: -300px;
  position: absolute;
}

.description {
  padding: 15px;
  background: rgba(255, 255, 255, .5);
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
}

.extras {
  padding: 15px;
  background: rgba(255, 255, 255, .5);
  border-radius: 5px 5px 5px 5px;
  border: solid 3px #363636;
}

.call-to-action {
  display: block;
  font-size: 1.2em;
  color: white;
  background-color: #544e9c;
  padding: 30px 0 30px 30px;
  text-decoration: none;
  border: solid 1px #363636;
  border-radius: 5px 5px 5px 5px
}

.call-to-action:hover {
  text-decoration: underline;
  -moz-box-shadow:    0px 3px 5px 0px #aaa;
  -webkit-box-shadow: 0px 3px 5px 0px #aaa;
  box-shadow:         0px 3px 5px 0px #aaa;
}

#extra-table {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px 5px 5px 5px;
}

.extras tbody {
  /*display: block;
  overflow-y: scroll;*/
  height: 150px;
  color: black;
}

.extras td a{
  color: black;
}

#extras-heading{
  text-align: left;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#canadian-rockies-card{
  height: 176px;
  background: image-url('canadian-rockies.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}


#great-barrier-reef-card{
  height: 176px;
  background: image-url('barrier.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#african-safari-card{
  height: 176px;
  background: image-url('safari.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#swiss-base-jumpers-card{
  height: 176px;
  background: image-url('base.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#climbing-in-pakistan-card{
  height: 176px;
  background: image-url('climbo.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}


#the-colorado-rapids-card{
  height: 176px;
  background: image-url('river.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#base-jumping-the-fjords-card{
  height: 176px;
  background: image-url('basez.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#huts-in-the-dolomites-card{
  height: 176px;
  background: image-url('dolomites.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#patagonia-card{
  height: 176px;
  background: image-url('argentina.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#yosemite-granite-card{
  height: 176px;
  background: image-url('yosemite.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#climbing-the-high-atlas-card{
  height: 176px;
  background: image-url('atlas.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#hunting-in-montana-card{
  height: 176px;
  background: image-url('montana.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#outback-big-game-card{
  height: 176px;
  background: image-url('buffalo.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#riviera-diving-card{
  height: 176px;
  background: image-url('positano.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#the-navua-river-card{
  height: 176px;
  background: image-url('navua.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#whole-card{
  border: solid 1px #363636;
  border-radius: 5px 5px 5px 5px;
}