.trips-header {
  padding-left: 20px;
}

.trip-subheader {
  margin-top: 0;
}

.trip-header-img {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.canadian-rockies-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('canadian-rockies.jpg');
  background-size: cover;
}

.great-barrier-reef-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('barrier.jpg');
  background-size: cover;
}

.african-safari-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('safari.jpg');
  background-size: cover;
}

.swiss-base-jumpers-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('base.jpg');
  background-size: cover;
}

.climbing-in-pakistan-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('climbo.jpg');
  background-size: cover;
}

.patagonia-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('argentina.jpg');
  background-size: cover;
}

.riding-the-colorado-rapids-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('river.jpg');
  background-size: cover;
}

.base-jumping-the-fjords-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('basez.jpg');
  background-size: cover;
}

.hut-to-hut-in-the-dolomites-trip-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: image-url('dolomites.jpg');
  background-size: cover;
}

.trip-header-img img {
  width: 100%;
  top: -300px;
  position: absolute;
}

.description {
  padding: 15px;
  background: rgba(255, 255, 255, .5);
}

.extras {
  padding: 15px;
  background: rgba(255, 255, 255, .5);
}

.call-to-action {
  display: block;
  font-size: 1.2em;
  color: white;
  background-color: #9675EF;
  padding: 20px 0 20px 20px;
  text-decoration: none;
}

.call-to-action:hover {
  text-decoration: underline;
  -moz-box-shadow:    0px 3px 5px 0px #aaa;
  -webkit-box-shadow: 0px 3px 5px 0px #aaa;
  box-shadow:         0px 3px 5px 0px #aaa;
}

#extra-table {
    background: rgba(255, 255, 255, 0.5);
}


.extras tbody {
  /*display: block;
  overflow-y: scroll;*/
  height: 150px;
  color: black;
}

.extras td a{
  color: black;
}

#extras-heading{
text-align: left;
}


#canadian-rockies-card{
  height: 176px;
  background: image-url('canadian-rockies.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}



#great-barrier-reef-card{
  height: 176px;
  background: image-url('barrier.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#african-safari-card{
  height: 176px;
  background: image-url('safari.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#swiss-base-jumpers-card{
  height: 176px;
  background: image-url('base.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#climbing-in-pakistan-card{
  height: 176px;
  background: image-url('climbo.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}


#riding-the-colorado-rapids-card{
  height: 176px;
  background: image-url('river.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#base-jumping-the-fjords-card{
  height: 176px;
  background: image-url('basez.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#hut-to-hut-in-the-dolomites-card{
  height: 176px;
  background: image-url('dolomites.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#patagonia-card{
  height: 176px;
  background: image-url('argentina.jpg') center / cover;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}