#map{
  border-radius: 5px 5px 5px 5px;
  border: solid 2px #363636;
}

#map-links{
  color: black;
}

.homepage-map {
  width: 70%;
  height: 400px;
  margin: 0 auto;
}

.trip-page-map {
  height: 400px;
  border-radius: 5px 5px 5px 5px;
  border: solid 2px #363636;
}

.trips-header {
  font-family: 'Open Sans';
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px 5px 5px 5px;
  border: solid 3px #363636;
  margin: 25px 400px 10px 15px;
  padding-left: 10px;
}

.trip-subheader {
  margin-top: 0;
}

.trip-header-img {
  height: 600px;
  overflow: hidden;
  position: relative;
}

#trip-description {
  font-family: "Open Sans";
  font-size: 20px;

}

.trip-img {
  height: 550px;
  overflow: hidden;
  position: relative;
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px
}

.trip-show-card {
  height: 550px;
  width: 1100px;
}

.trip-header-img img {
  width: 100%;
  top: -300px;
  position: absolute;
}

.description {
  padding: 15px;
  background: rgba(255, 255, 255, .5);
  border: solid 3px #363636;
  border-radius: 5px 5px 5px 5px;
}

.extras {
  padding: 15px;
  background: rgba(255, 255, 255, .5);
  border-radius: 5px 5px 5px 5px;
  border: solid 3px #363636;
}

.call-to-action, .call-to-action:visited, .call-to-action:link {
  display: block;
  font-size: 1.3em;
  color: white;
  background-color: #544e9c;
  padding: 30px 0 30px 0px;
  text-decoration: none;
  border: solid 1px #363636;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}

.call-to-action:hover {
  -moz-box-shadow:    0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  box-shadow:         0px 2px 15px 0px rgba(0, 0, 0, 0.4);
}

#extra-table {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px 5px 5px 5px;
}

.extras tbody {
  height: 150px;
  color: black;
}

.extras td a{
  color: black;
}

#extras-heading{
  text-align: left;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#trips-card{
  height: 176px;
  color: white;
  text-shadow:
  0.1em  .1em .1em black,
  .05em -.05em .05em black,
  -.01em  .01em .01em black,
  -.01em -.01em .01em black;
}

#admin-whole-card{
  height: 120px;
  width:200px;
}

#admin-whole-card h3{
  font-size: 12px;
}

.trip-index-card {
  height: 200px;
  width: 400px;
}

.admin-trip-index-card {
  height: 100px;
  width:200px;
}

#whole-card{
  border: solid 1px #363636;
  border-radius: 5px 5px 5px 5px;
}

#edit-trip-table {
  margin: 40px auto;
}