.register {
    padding-top: 150px;
}

.form-background {
  display: block;
  background-color: #eeeeee;
  padding: 150px 0 20px 20px;
  text-decoration: none;
  height: 475px;
}

#table-title {
    font-size: 32px;
    font-weight:800;
}

.form-background table {
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 1px 1px 1px;
}


#table-title {
    font-size: 24px;
}

